@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600;700&display=swap');

/* RESET */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* RESET */

:root {
  --main-gray-color: #272727;
}

html {
  font-family: 'IBM Plex Mono', serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-weather-container {
  padding: 40px 80px;
  background-color: var(--main-gray-color);
  color: white;
  display: flex;
  flex-direction: column;
  width: 60%;
  border-radius: 20px;
}

.weather-info {
  font-size: 40px;
  font-weight: 700;
}

.main-weather__temp-container {
  display: flex;
  align-items: center;
}

.main-weather-degrees {
  font-weight: 600;
  font-size: 24px;
}
